* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: auto !important;
}

body {
    background-color: black;
}

.navbar {
    background-color: darkcyan;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.nav-link {
    color: white;
}

.article {
    background-color: black;
    color: white;
}


header {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Open sans', Courier, monospace;
    font-weight: 400;
    font-size: 25px;
}

p {
    font-family: 'Open sans', Courier, monospace;
    font-weight: 300;
}

.icon {
    background-color: deepskyblue ;
    
}

main {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Open sans', Courier, monospace;
    font-weight: 400;
    font-size: 25px;
}

.cards {
    background-color: black;
    padding-left: 90px;
    display: contents;
}

.row {
   background-color: black;
   
}


.card-body {
    background-color: deepskyblue ;
    color: white;
}



form {
    background-color: black;
    color: white;
    padding-bottom: 50px;
  }



h3 {
    color: white; 
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Open sans', Courier, monospace;
    font-weight: 400;
    font-size: 25px;
}

#mensaje {
    height: 200px;
}

#boton {
    color: white;
}

footer {
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
    }

  #piedepagina {
    font-family: 'Open sans', Courier, monospace;
    font-weight: 400;
    font-size: 30px;
    padding-left: 300px;
  }

 i {
    color: white;
 }

 #icon2 {
    padding-left: 80px;
 }